.venus {
    background-color: violet;
}

.earth {
    background-color: blue;
}

.mercury {
    background-color: beige;
}

.mars {
    background-color: red;
}

.jupiter {
    background-color: grey;
}

.saturn {
    background-color: chocolate;
}

.uranus {
    background-color: green;
}

.neptune {
    background-color: orange;
}